.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-button {
    width: auto;
    height: auto;
    padding: 13px;
    background-color: cadetblue;
    border-radius: 7px;
    font-weight: bold;
}